{% load staticfiles %}<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Home{% endblock %} | Django tutorial - First site</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="/node_modules/uikit/css/uikit.min.css">
        <link rel="stylesheet" href="/node_modules/normalize/normalize.css">
        {% block css %}{% endblock %}
    </head>
    <body>

        <div class="uk-container">
            <h1 class="uk-heading-bullet">Welcome to the site <strong class="uk-text-success">Django</strong>!</h1>
            <hr>
            {% block content %}{% endblock %}
        </div>

        <script src="/node_modulesplugins/jquery/jquery.min.js"></script>
        <script src="/node_modulesuikit/js/uikit.min.js"></script>
        <script src="/node_modulesuikit/js/uikit-icons.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>